{% extends 'login_page.twig' %}

{% block main %}
	<div class="box-connected">
		<i class="fa-solid fa-check"></i>
		<p>Vous êtes connecté.</p>
		<a href="https://github.com/Nikitose">Aller au site</a>
	</div>
{% endblock %}