{% extends 'login_page.twig' %}

{% block main %}
	<div class="box-connected">
		<i class="fa-solid fa-xmark"></i>
		<p>Oups, l'identifiant ou le mot de passe ne sont pas correct.</p>
		<a href="index.php">Réessayer</a>
	</div>
{% endblock %}